# üìä Job Offers Analysis - Data Loading & Cleaning

This notebook handles the initial steps of the job analysis pipeline:
1. **Load data** from PostgreSQL database
2. **Explore** the data structure
3. **Clean text** using NLP preprocessing
4. **Save** cleaned data for next steps

---

In [1]:
# Import required modules
import sys
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')



# Import custom modules
from modules.data_loader import load_job_data
from modules.cleaning import clean_dataframe, clean_text, get_stopwords

# Display settings
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_rows', 50)

print("Modules loaded successfully!")

‚ö†Ô∏è  Mod√®le spaCy 'fr_core_news_sm' non trouv√©.
üëâ Installez-le avec : python -m spacy download fr_core_news_sm
Modules loaded successfully!

## 1Ô∏è‚É£ Load Data from Database

Connect to PostgreSQL and retrieve job offers.

In [2]:
# Load data from database
# Modify the limit parameter to control how many job offers to load
df_raw = load_job_data(limit=1000,database_uri='postgresql://postgres:0000@127.0.0.1:5432')

print(f"\n Dataset Shape: {df_raw.shape}")
print(f"   Rows: {df_raw.shape[0]}")
print(f"   Columns: {df_raw.shape[1]}")

‚úÖ Successfully loaded 1000 job offers from database

 Dataset Shape: (1000, 3)
   Rows: 1000
   Columns: 3

## 2Ô∏è‚É£ Explore Raw Data

Let's examine the structure and content of our dataset.

In [3]:
# Display first few rows
print("üìã First 5 job offers:\n")
df_raw.head()

üìã First 5 job offers:

,mission_clean,profil_clean,title_clean
0,"pour accompagner notre developpement, nous recherchons aujourd'hui un(e) workforce management rh...","- experience d'au moins 3 ans en gestion des effectifs (workforce management, planification rh, ...",work force management rh
1,"pour accompagner notre developpement, nous recherchons aujourd'hui un(e) workforce management rh...","- experience d'au moins 3 ans en gestion des effectifs (workforce management, planification rh, ...",work force management rh
2,"pour accompagner notre developpement, nous recherchons aujourd'hui un(e) workforce management rh...","- experience d'au moins 3 ans en gestion des effectifs (workforce management, planification rh, ...",work force management rh
3,"travailler sous wordpress en faisant un site dynamique, leger et agreable visuellement. referenc...",serieux et pret a travailler dur.\nlundi au vendredi : 9h-17h\n1h de pause dejeuner,"wordpress, graphiste et community manager et notion ia"
4,nous recherchons un(e) webmaster & charge(e) marketing digital dynamique et polyvalent(e) pour g...,"maitrise parfaite du francais, a l'ecrit comme a l'oral, sans faute\nconnaissance approfondie de...",webmaster & charge(e) marketing digital-dovelec

In [4]:
# Check data types and missing values
print("\n Dataset Information:\n")
print(df_raw.info())
print("\n" + "="*50)
print("\n Missing Values:\n")
print(df_raw.isnull().sum())

 Dataset Information:

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mission_clean  1000 non-null   str
 1   profil_clean   1000 non-null   str
 2   title_clean    1000 non-null   str
dtypes: str(3)
memory usage: 23.6 KB
None

==================================================

 Missing Values:

mission_clean    0
profil_clean     0
title_clean      0
dtype: int64

## 3Ô∏è‚É£ Text Cleaning

Apply comprehensive text cleaning:
- Lowercase conversion
- Remove punctuation and special characters
- Remove location names (Madagascar-specific)
- Remove French stopwords
- Normalize spaces

In [5]:
# Get stopwords list
stopwords = get_stopwords(include_locations=True)
print(f"Using {len(stopwords)} stopwords for cleaning")
print(f"\nSample stopwords: {list(stopwords)[:20]}")

Using 207 stopwords for cleaning

Sample stopwords: ['batiment ariane', 'aies', 'et', 'qu', '√©tants', 'auront', 'serions', 'f√ªtes', 'fort dauphin', 'andraharo', 'te', '√©tais', 'immeuble', 'qui', 's', 'avait', 'pour', 'as', 'tu', 't']

In [8]:
# Clean all text columns
df_cleaned = clean_dataframe(df_raw, columns=['title_clean', 'mission_clean', 'profil_clean'])

print("\n Cleaning complete!")
print(f"   New columns added: {[c for c in df_cleaned]}")
df_cleaned['title_clean'].head(10)

‚úÖ Cleaned column: title_clean ‚Üí title_clean
‚úÖ Cleaned column: mission_clean ‚Üí mission_clean
‚úÖ Cleaned column: profil_clean ‚Üí profil_clean

 Cleaning complete!
   New columns added: ['mission_clean', 'profil_clean', 'title_clean']

0                           work force management rh
1                           work force management rh
2                           work force management rh
3    wordpress graphiste community manager notion ia
4         webmaster charge marketing digital dovelec
5     webmaster designer developpeur application web
6                                          webmaster
7                               webmarketing manager
8                      webmarketing campaign manager
9                                    webmarketer seo
Name: title_clean, dtype: str

## 5Ô∏è‚É£ Save Cleaned Data

Save the cleaned dataset for use in subsequent notebooks.

In [7]:
# Rename columns for consistency
df_cleaned.rename(columns={
    'title_clean': 'title_cleaned',
    'mission_clean': 'mission_cleaned',
    'profil_clean': 'profil_cleaned'
}, inplace=True)

# Save to CSV
output_file = 'data_cleaned.csv'
df_cleaned.to_csv(output_file, index=False)
print(f"Cleaned data saved to: {output_file}")
print(f"   Rows: {len(df_cleaned)}")
print(f"   Columns: {list(df_cleaned.columns)}")

Cleaned data saved to: data_cleaned.csv
   Rows: 1000
   Columns: ['mission_cleaned', 'profil_cleaned', 'title_cleaned']

## ‚úÖ Summary

**Data Loading & Cleaning Complete!**

- ‚úÖ Loaded data from PostgreSQL
- ‚úÖ Cleaned text columns (removed stopwords, punctuation, locations)
- ‚úÖ Saved cleaned dataset to `data_cleaned.csv`

**Next Steps:**
- Open `02_vectorize_cluster.ipynb` to vectorize text and find optimal clusters